/* Buttons */

.btn-primary {
  @include btn($button-color, $color-light);
}

/* Form Elements */

input,
select,
textarea {
  border: 1px solid $input-border-color;
  border-radius: $radius;
  padding: 12px;

  &:focus {
    border-color: #b1b1b1;
  }
}

/* Icons */

.icon {
  font-size: 1.6rem;

  &.icon-arrow-down {
    font-size: 1.1rem;
    height: 11px;

    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
  }
  &.icon-wallet {
    height: 20px;
  }
  &.icon-notification {
    position: relative;

    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
  }

  &.icon-quit:hover {
    cursor: pointer;
    color: $link-hover-color;
  }

  &.icon-refresh {
    width: 20px;
    height: 17px;
  }

  &.icon-calendar {
    height: 18px;
    font-size: 1.3rem;
  }
}

.i-status {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $button-color;
  z-index: 1;
}

hr {
  border-color: #333;
}
