*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 1.7;
  font-family: $brand-font;
  font-weight: $font-normal;
  color: $font-main-color;
  background-color: #f4f4f1;
}


