.main-container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  width: calc(100% - 30px);
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 6px 0 rgba(0, 0, 0, 0.05);

  @include for-size(phone-only) {
    width: 100%;
    box-shadow: none;
  }

  @include for-size(tablet-portrait-up) {
    width: 100%;
    box-shadow: none;
  }
}

.container-fluid {
  width: 100%;
}

section {
  margin-bottom: 22px;

  @include for-size(phone-only) {
    margin-bottom: 6px;
  }
}

#pages {
  margin-top: 80px;
  margin-left: 15vw;

  @include for-size(phone-only) {
    margin-top: 60px;
    margin-left: 0;
  }

  @include for-size(tablet-portrait-up) {
    margin-top: 60px;
    margin-left: 0;
  }
}

.content__header {
  flex: 1 1 100%;
  width: 100%;
  padding: 1px 0;
  background-color: $color-light;

  h1 {
    margin-left: 15px;
  }
}

.content__body {
  background-color: $color-light;
  flex: 100%;

  @include for-size(phone-only) {
    width: 100%;
  }
  @include for-size(tablet-portrait-up) {
    width: 100%;
  }
}
