h1 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $brand-font;
  color: $font-main-color;
  font-weight: $font-medium;

  &.section-header {
    text-transform: none;
    font-weight: $font-bold;
  }

}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $brand-font;
}

h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
  font-family: $brand-font;
}

p {
  font-size: 14px;
  color: $paragraph-color;
  font-weight: $font-light;
  font-family: $brand-font;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
  &.small-link { font-size: 13px; }
  &.large-link { font-size: 16px; }
}
