/* Colors */
$color-light: #ffffff;
$page-background-color: #f5f5f2;
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$font-main-color: #a6a6a6;
$link-color: #56819f;
$link-hover-color: #ffa200;
$button-color: #f58220;
$button-hover-color: #ffa200;
$input-border-color: #e3e3e3;


/* Font sizes */
$page-header-font-size: 16px;
$section-header-font-size: 16px;
$paragraph-font-size: 14px;
$large-link-font-size: 16px;
$small-link-font-size: 13px;

/* Fonts */
$brand-font: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

/* Other */
$radius: 4px;
$transition: all .3s;
